/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Duru+Sans&display=swap');

* {
    font-family: 'Duru Sans', sans-serif;
}

// ARTICLES

.space-bottom {
    margin-bottom: 40px;
}

// MAIN PAGE

.bg-image {
    display: block;
    position: fixed;
    inset: 0;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

.text-gradient {
    cursor: default;
    background: rgb(0, 93, 157);
    background: linear-gradient(90deg, #00439a 0, #024baa 25%, #0035b4 50%, #5d2a98 90%) var(--_v, 100%)/200% no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .3s ease-in-out;
}

.text-gradient:hover {
    --_v: 0%;
}

.text-transparent {
    cursor: default;
    color: #0000;
    background:
        linear-gradient(90deg, #00439a 15%, #0035b4 30%, #5d2a98 50%, #fff 0) var(--_p, 100%)/200% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    transition: all .3s ease-in-out;
}

.text-transparent:hover {
    --_p: 0%;
}

.hover-primary {
    color: #fff
}

.hover-primary:hover {
    color: #0d6efd;
}

div.field_with_errors {
    display: inline;
}

.thumbnail {
    max-width: 300px;
    max-height: 200px;
    border-radius: 4px 4px 0px 0px;
    overflow: hidden;

    img {
        position: relative;
        width: 100%;
        transition: all 0.2s ease-in-out;
    }
}

.post-container {
    &:hover .scale_image {
        transform: scale(1.1);
    }
}

.dark-input {
    background-color: #212529;
    color: #fff;
    border: 1px solid #6c757d;

    &:focus {
        background-color: #212529;
        color: #fff;
    }
}